.row.gap-20
  / #Toatl Visits ====================
  .col-md-3
    .layers.bd.bgc-white.p-20
      .layer.w-100.mB-10
        %h6.lh-1 QLs
      .layer.w-100
        .peers.ai-sb.fxw-nw
          .peer.peer-greed
            %span#sparklinedash
          .peer
            %span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-green-50.c-green-500 +10%
  / #Total Page Views ====================
  .col-md-3
    .layers.bd.bgc-white.p-20
      .layer.w-100.mB-10
        %h6.lh-1 FCs
      .layer.w-100
        .peers.ai-sb.fxw-nw
          .peer.peer-greed
            %span#sparklinedash2
          .peer
            %span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-red-50.c-red-500 -7%
  / #Unique Visitors ====================
  .col-md-3
    .layers.bd.bgc-white.p-20
      .layer.w-100.mB-10
        %h6.lh-1 Installs
      .layer.w-100
        .peers.ai-sb.fxw-nw
          .peer.peer-greed
            %span#sparklinedash3
          .peer
            %span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-purple-50.c-purple-500 ~12%
  / #Bounce Rate ====================
  .col-md-3
    .layers.bd.bgc-white.p-20
      .layer.w-100.mB-10
        %h6.lh-1 Panels
      .layer.w-100
        .peers.ai-sb.fxw-nw
          .peer.peer-greed
            %span#sparklinedash4
          .peer
            %span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-blue-50.c-blue-500 33%