%main.main-content.bgc-grey-100
  #mainContent
    .row.gap-20.masonry.pos-r
    = render partial: 'monthly_stats'
    .row.gap-20.masonry.pos-r
      .masonry-sizer.col-md-3
        = render 'itineraries/show'
      .masonry-sizer.col-md-9.gap-20
        = render partial: 'searches/form'
    