
%main.main-content.bgc-grey-100
  #mainContent
    .row.gap-20.masonry.pos-r
    /=# react_component('Board')
    = render partial: 'monthly_stats'
    .row.gap-20.masonry.pos-r
      .masonry-sizer.col-md-6
        = react_component('ItineraryContainer')
      .masonry-sizer.col-md-6.gap-20
        = render partial: 'searches/form'
    .row.masonry.pos-r

    .d-flex
      
